doctype html
html(lang="ko")
  head 
    title #{pageTitle} | FullTube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  bod
    header
      h1=pageTitle 
      a(href="/login") 로그인
      a(href="/join") 회원 가입
    main 
      block content
include partials/footer