doctype html
html(lang="ko")
  head 
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet" href="/static/css/styles.css")
  body
    header
      a(href="/")
        i.fab.fa-youtube
      nav
        ul 
          li
            
    main 
      block content
script(src="/static/js/main.js")
footer &copy; #{new Date().getFullYear()} FullTube