doctype html
html(lang="ko")
  head 
    title #{pageTitle} | FullTube
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1=pageTitle
      nav
        ul 
          li
            a(href="/") Go back Home &rarr;
    main 
      block content
footer &copy; #{new Date().getFullYear()} FullTube