doctype html
html(lang="ko")
  head 
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="stylesheet" href="/static/css/styles.css")
  body
    header
      h1=pageTitle
      nav
        ul 
          li
            a(href="/") Go back Home &rarr;
    main 
      block content
script(src="/static/js/main.js")
footer &copy; #{new Date().getFullYear()} FullTube