extends base.pug

block content
  if errorMessage 
    span=errorMessage
  form(method="POST",enctype="multipart/form-data")
    label(for="avatar") 프로필 사진
    input(id="avatar",type="file",name="avatar",accept="image/*")
    input(name="email",placeholder="이메일 | E-mail",type="email",required,value=loggedInUser.email)
    input(name="username",placeholder="닉네임",type="text",required,value=loggedInUser.username)
    input(name="name",placeholder="이름",type="text",required,value=loggedInUser.name)
    input(type="submit",value="수정")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") 비밀번호를 변경하시겠어요? &rarr;