extends base
include mixins/video

block content
  nav 
    ul 
      li
        a(href="/login") Login
      li
        a(href="/join") Join
      li
        a(href="/video/upload") Upload
      li 
        a(href="/search") Search
  each video in videos 
    +video(video)
  else 
    li Video Not exist 