extends base
include mixins/video

block content
  a(href="/login") Login
  a(href="/join") Join
  a(href="/video/upload") Upload
  each video in videos 
    +video(video)
  else 
    li Video Not exist 