extends base.pug
include mixins/video.pug

block content 
  form(method="GET").search__form
    input(name="keyword",placeholder="제목 혹은 #해시태그로 검색 해보세요!",required,type="text")
    button
      i.fas.fa-search
  
  div.video-grid
    each video in videos 
      +video(video)
    else 
      li.empty__message 비디오가 존재하지 않습니다.
