extends base.pug
include mixins/video.pug

block content 
  form(method="GET").search__form
    input(name="keyword",placeholder="Search Video by video name or hashtags",type="text")
    input(type="submit",value="Search")
  
  div.video-grid
    each video in videos 
      +video(video)
    else 
      li.empty__message 비디오가 존재하지 않습니다.
