extends base

block content 
  h2 Upload Video
  form(method="POST")
    input(name="title",placeholder="title",required,type="text")
    input(name="description",placeholder="Description",required,type="text")
    input(name="hashtags",placeholder="HashTags",required,type="text")
    input(type="submit",value="업로드")