.side-option{
  width: 200px;
  height: 100vh;
  padding-left: 6px;
  background-color: $bg;
  li{
    margin: 20px 10px;
  }
}

.video-grid{
  display: grid;
  gap:50px;
  grid-template-columns: repeat(4,1fr);
  background-color: white;
}