.video__comment-form{
  position: absolute;
  img{
  margin-top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 10px;
}
  textarea{
    outline: none;
  }
}

.video__comments{
  position: inherit;
}

.video__user-info{
  width: 960px;
  margin-top: 10px;
  .video__title{
    font-weight: 600;
    font-size: large;
  }
  .video__change{
    margin-left: 310px;
  }
  img{
    margin-top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 10px;
  }
  .video__user-info-head{
    display: flex;
    align-items: center;
  button{
    text-align: center;
    margin-left: 20px;
    border-radius: 50px;
    background-color: $color;
    color:white;
    font-size: large;
    padding: 10px;
    span{
      margin-left: 10px;
    }
  }
}
}
.video__user-info__metadata{
  font-size: small;
  border-radius: 10px;
  padding: 10px;
  width: 945px;
  background-color: $metaColor;
  margin-top: 20px;
  .second__div{
    margin-top: 20px;
    .third__div{
      opacity: 0.8;
      margin-top: 10px;
    }
  }
}